---
const platfrom = 'github';
const project = 'Portfolio';
---

<footer>
    <p class="footer-text">Learn more about my project in: <a href={`https://${platfrom}.com/AvRobDev/${project}/tree/rober`} class="footer-link">{platfrom}!</a></p>
</footer>